# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# Python egg metadata
*.egg-info/
*.egg

# Distribution / packaging
build/
dist/
*.whl

# Data, logs, outputs
*.log
*.out
*.h5
*.pth
*.ckpt
*.npz
*.npy
*.csv
*.db
*.sqlite3

# Model files
*.pt
*.onnx
*.pb

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Test, coverage, and profiling
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
.pyre/